.message-container {
    min-height: 100vh;
    padding-top:30px;
}
.message{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color : #ff0000;
}
.loadingmessage {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color : #000;
}