.news-container{
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #0000000a ;
}

.news-title{
    font-size: 70px;
    margin-bottom: 20px;
    letter-spacing: 30px;
}
.news-desc{
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom:20px;
}
.input-container{
    display:flex;
    justify-content: center;
}
.input-container input {
    width: 300px;
    height:40px ;
    padding: 5px 15px;
    border:none;
    outline:none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    letter-spacing: 1.2px;
}
.input-container button{
    padding: 5px 20px;
    background-color:#000000;
    color:#ffffffff;
    border:none;
    outline: none;
    text-transform: uppercase;
    transition: all 0.8s;
}
.input-container button:hover{
    background-color: #ff0000;
}

@media screen and (max-width:590px){
    .input-container input {
        width: 70%;}
        .news-title{
            font-size: 20px;
        }
}