.wish-container {
    min-height: 100vh;
    padding: 30px 10px;
}

.wish-row:first-child {
    margin-bottom: 40px;
}

.wish-title {
    text-align: center;
    letter-spacing: 3px;
}

.wish-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wish-card {
    width: 150px;
    box-shadow: 0 0 5px #000000;
    margin: 0 25px 25px 0;
    border-radius: 5px;
}

.wish-header img {
    width: 100%;
}

.wish-body {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.wish-body a {
    display: flex;
    justify-content: center;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
}

.wish-body .wish-quantity {
    background-color: #000000;
    padding: 3px 10px;
    color: #ffffff;
    font-size: 12px;
    border-radius: 2px;
}

.wish-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 10px 0;
}

.wish-footer .wish-price {
    letter-spacing: 1.3px;
    font-weight: bold;
}

.wish-footer button {
    background-color: transparent;
    color: #ff0000;
    font-size: 18px;
    padding: unset;
}